<% content_for :title do -%>
    <%= t('global.types.attraction_type').pluralize(2) %>
<% end -%>
<h1><%= t('global.types.attraction_type').pluralize(2) %></h1>
<% if current_user.try(:admin) %>
    <p>
        <%= link_to((fa_icon 'plus')+' New', new_attraction_type_path) %>
    </p>
<% end %>
<p>
    <ul class="list-unstyled">
        <% @attraction_types.each do |type| %>
            <li><%= link_to type.name, type %></li>
        <% end %>
    </ul>
</p>
